<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moh Dzaky Irhab - CV Static</title>

    
    <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }}  type="text/css">

  </head>
  <body>


        <div class="jumbotron text-center">
          <h1>Moh Dzaky Irhab</h1>
          <p>Full Stack Web Developer / Mahasiswa</p>
        </div>


    <div class="container">
      <div class="row">
        <div class="col-sm-4">

          <div class="card">
            <h1 class="card_title">
              About Me
            </h1>
            <h4 class="card_intro">
              I am a Web Developer, Very interested in programming. I have experience in creating several websites, such as system information for company. Worked with many libraries & frameworks like Codeigniter, ReactJs, and ExpressJs,. It does feel amazing to see myself improving, Hopefully continue to improve and be better than now
            </h4>
          </div>


        </div>
        <div class="col-sm-4">

          <div class="card">
            <h1 class="card_title">
              Experience
            </h1>
            <h4 class="card_intro">
              July 2018 - December 2018 <br>
              Sunan Ampel State Islamic University, IT Staff(Full Stack Web Developer)
            </h4>
            <h4 class="card_intro">
              September 2022 - January 2023 <br>
              Kelurahan Margorejo Surabaya, IT Staff(Full Stack Web Developer)
            </h4>
          </div>


        </div>
        <div class="col-sm-4">
          <div class="card">
            <h1 class="card_title">
            Education History
            </h1>
            <h4 class="card_intro">
              2019 - Now <br>
              Narotama University Student System Information Major
            </h4>
            <h4 class="card_intro">
              2016 - 2019 <br>
              SMKN 1 Surabaya Software Engineering Major
            </h4>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">

          <div class="card">
            <h1 class="card_title">
              Skills
            </h1>
            <h4 class="card_intro">
              HTML, CSS, Bootstrap, JavaScript, PHP, ReactJs, NodeJs, ExpressJs, MongoDB, MySQL
            </h4>
          </div>


        </div>
        <div class="col-sm-4">

          <div class="card">
            <h1 class="card_title">
              Social Media
            </h1>
            <a href="https://github.com/zakyirhab" class="card_link">Github</a>
            <a href="mailto:zakyirhab1@gmail.com" class="card_link">Gmail</a>
          </div>


        </div>
        <div class="col-sm-4">

          <div class="card">
            <h1 class="card_title">
              CV PDF
            </h1>
            <a href="C:\Users\ASUS\Downloads\cvj-master\Moh Dzaky Irhab (1).pdf" class="card_link">Here</a>
          </div>

        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/jquery_3.6.0.min.js') }} ></script>
  </body>
</html>
